@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* FOND BLANC PUR */
    --background: 0 0% 100%; 
    /* TEXTE BLEU NUIT */
    --foreground: 222.2 47.4% 11.2%; 

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 343 81% 56%; /* Rouge */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 343 81% 56%;
    --radius: 0.5rem;
  }
}

@layer base {
  * { @apply border-border; }
  body { @apply bg-background text-foreground; }
}

@layer utilities {
  .luxury-text { font-family: 'Times New Roman', serif; }
  .text-gradient { @apply text-slate-900; } /* On retire le doré kitsch */
  .gold-glow { box-shadow: 0 4px 14px 0 rgba(225, 29, 72, 0.39); }
}